* {
    box-sizing: border-box;
}
.filter-holder {
    width: 30%;
    height: 100vh;
    border: 2px solid black;
    margin-top: 20px;
    margin-right: 1%;
    padding: 4px;
}

.gender, .categories{
    border: 2px solid black;
    margin-bottom: 10px;
}

input {
    width: 100px;
}
