.footer-container {
    /* position: relative; */
    /* bottom: -128px; */
    bottom: 0;
    background-color: rgb(231, 231, 231);
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items:flex-start;
    padding: 10px 50px;
    transition: 0.2s;
}

/* .footer-container:hover {
    bottom: 0;
    transition: 0.2s;
} */

.footer-individualSections{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer-individualSections h3{ 
    margin-bottom: 3px;
    font-size: 13px;
}
.footer-individualSections a {
    text-decoration: none;
    color: rgb(68, 68, 68);
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.footer-developerInfoSection {
    width: 100%;
    height: auto;
    bottom: 0;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 40px;
    font-size: 15px;
}

.footer-socialNetworks {
    /* border: 2px solid red; */
    display: flex;
    gap: 25px;
    align-items: center;
}

.footer-socialNetworks a{
    /* border: 2px solid red; */
    width: 30px;
    height: 30px;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.footer-developer div:nth-child(2){
    font-size: 12px;
    opacity: 0.5;
}