* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.app-main {
    /* margin: 0px 15px 0 15px; */
    display: flex;
    flex-direction: column;
}

.app-midSection {
    display: flex;
    flex-direction: row;
}

.app-contentSection {
    width: 100%;
    display: flex;
    flex-direction: column;
}