* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}

.app-main {
    /* width: 10%; */
    /* height: 10%; */
    /* display: flex; */
    /* flex-direction: row; */
    /* gap: 50px; */
    /* background-color: aqua; */
    /* padding-top: 200px; */
}

.app-midSection {
    display: flex;
    flex-direction: row;
}

.app-contentSection {
    width: 100%;
    display: flex;
    flex-direction: column;
}