* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.app {
    margin: 0px 15px 0 15px;
}

.midSection {
    display: flex;
}

.contentSection {
    width: 100%;
    display: flex;
    flex-direction: column;
}