.mainContent-container {
    border: 2px solid black;
    margin-top: 50px;
    /* width: 100%; */
    margin-left: 260px;
    /* margin: auto; */
    height: 100%;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    column-gap: 70px;
    row-gap: 40px;
    padding: 15px;
}